@using System.Security.Claims
@inject ETicaret_UI.Services.RequestManager RequestManager
@rendermode InteractiveServer
@attribute [StreamRendering]


<div class="logo d-flex align-items-center">
    <a class="navbar-brand text-white" href="/">ETicaret Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="links">

    <a class="text-white" style="text-decoration: none;" aria-current="page" href="/">Ana Sayfa</a>
    <a class="text-white" style="text-decoration: none" href="/">Test</a>
    <AuthorizeView Roles="admin">
        <Authorized>
            <a class="text-white" style="text-decoration: none" href="admin">Admin Paneli</a>
        </Authorized>
    </AuthorizeView>
</div>

<div class="top-row">
    <AuthorizeView>
        <Authorized>
            <a class="btn btn-danger" href="logout">Çıkış Yap</a>
        </Authorized>
        <NotAuthorized>
            <a class="btn btn-info" href="login">Giriş Yap</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@* <nav class="navbar navbar-expand-lg bg-body-tertiary m-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">E-Ticaret</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Ana Sayfa</a>
                </li>
                <AuthorizeView Roles="admin">
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link active" href="admin">Admin Paneli</a>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hesabım</a>
                </li>
            </ul>

            <AuthorizeView>
                <Authorized>
                    <a class="d-flex btn btn-danger" href="logout">Çıkış Yap</a>
                </Authorized>
                <NotAuthorized>
                    <a class="d-flex btn btn-info" href="login">Giriş Yap</a>
                </NotAuthorized>
            </AuthorizeView>

        </div>
    </div>
</nav>
 *@
