@page "/admin"
@rendermode InteractiveServer
@attribute [StreamRendering]
@* @attribute [Authorize(Roles = "admin")] *@

<AuthorizeView Roles="admin">
    <Authorized>
        <a href="/adminShops">Admin Shop</a> <br />
        <a href="/adminProductCategory">Admin Categories</a>
    </Authorized>
    <NotAuthorized>
        <ETicaret_UI.Components.Pages.AuthPages.AccessDenied />
    </NotAuthorized>
</AuthorizeView>

@code {
}
